html {
	-webkit-user-select:none;
     cursor: default;
    height: 100%;
    font-family: "Mplantin"; 
	-webkit-font-smoothing: antialiased !important;
	text-rendering: optimizeLegibility !important;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
	background-color: rgba(0,0,0,1);
    overflow: hidden;
}

label {
    font-family: "Mplantin";
    color: #FAE5D2;
    margin-top: 2px;
}

@font-face {
    font-family: 'belerenbold';
    src: url('fonts/belerenbold.woff') format('woff');
}

@font-face {
    font-family: 'Mplantin';
    src: url('fonts/Mplantin.woff') format('woff');
}

@font-face {
    font-family: 'Mplantin-italic';
    src: url('fonts/mplantinit.woff') format('woff');
}

@font-face {
    font-family: 'Mplantin-bold';
    src: url('fonts/mplantinbold.woff') format('woff');
}

@keyframes fadein {
    from { opacity: 1; }
    to { opacity: 0; }
}
.fadein {
    opacity: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
    animation: fadein 1s;
}

.hidden {
    display: none !important;
    opacity: 0;
}

.main_wrapper {
    padding: 2px;
    height: calc(100% - 4px);
}

.wrapper {
    position: relative;
    opacity: 1;
    display: flex;
    height: calc(100% - 64px);
}

.overlay_wrapper {
    padding: 2px;
    position: relative;
    height: calc(100% - 4px);
}

.wrapper:before, .overlay_wrapper:before {
    content: ' ';
    top: 0;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url(images/Mox-Amber-Dominaria-MtG-Art.jpg);
    background-color: #917961;
    background-size: cover;
    background-blend-mode: luminosity;
    background-position: center;
    opacity: 0.4;
    z-index: -1;
}

.top {
    -webkit-app-region:drag;
    position: relative;
    z-index: 30;
    height: 64px;
    background: url(images/top_bar.png);
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0px 16px 4px rgba(0, 0, 0, 0.5);
}

.top_logo {
    -webkit-app-region:drag;
    padding-left: 128px;
    width: 240px;
    background: url(images/logo.png) no-repeat center;
}

.top_logo_about {
    cursor: pointer;
    align-self: center;
    width: 66%;
    max-width: 400px;
    height: 90px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(images/logo_big.png);
}

.release_notes_link {
    cursor: pointer;
    text-decoration: underline;
}

.twitter_link {
    cursor: pointer;
    align-self: center;
    margin: 0 auto;
    width: 32px;
    height: 32px;
    background: url(images/twitter_logo.png) no-repeat center;
    background-size: contain;
}

.git_link {
    cursor: pointer;
    align-self: center;
    margin: 0 auto;
    width: 32px;
    height: 32px;
    background: url(images/github_logo.png) no-repeat center;
    background-size: contain;
}

.notification {
    -webkit-app-region: no-drag;
    display: none;
    background: url(images/alert.png) no-repeat center;
    width: 24px;
    height: 24px;
    align-self: center;
    position: relative;
    margin-right: 16px;
}


.button_simple {
    align-self: center;
    margin-top: 12px;
    margin-bottom: 12px;
    cursor: pointer;
    width: 160px;
    height: 38px;
    border-radius: 6px;
    color: rgb(99, 79, 53);
    font-size: 18px;
    text-align: center;
    line-height: 38px;
    border: 1px solid rgba(145, 115, 75, 1);
    background-color: rgb(195, 172, 130);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    -webkit-transition: all .1s ease-in;
}

.button_thin {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
    width: 160px !important;
    height: 28px !important;
    line-height: 28px !important;
    font-size: 16px !important;
}

.button_long {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
    width: 240px !important;
    height: 28px !important;
    line-height: 28px !important;
    font-size: 16px !important;
}

.button_simple:hover {
    background-color: rgb(220, 195, 150);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
}

.button_simple:active {
    background-color: rgb(220, 195, 150);
    line-height: 40px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.top_username {
	color: #d4c6af;
	font-size: 17px;
    margin-left: 16px;
    align-self: center;
    /*font-family: Beleren;*/
	-webkit-user-select:none;
}

.top_rank {
    -webkit-app-region: no-drag;
    align-self: center;
    margin-left: 16px;
    width: 48px;
    height: 48px;
    background: url(images/ranks_spr.png);
    background-position: 0px 0px;
}

.sidebar {
    position: relative;
    padding: 16px 0 8px;
    z-index: 20;
    height: calc(100% - 24px);
    width: 200px;
    background: url(images/side_bar.png);
    display: flex;
    flex-direction: column;
    box-shadow: 0 0px 16px 4px rgba(0, 0, 0, 0.5);
    opacity: 1;
    -webkit-transition: all .5s ease-in-out;
}

.sidebar_item {
    margin: 3px 0 3px 0;
    height: 40px;
    cursor: pointer;
    text-indent: 16px;
    font-size: 18px;
    line-height: 40px;
    vertical-align: middle;
    color: #FAE5D2;
    opacity: 0.5;
    -webkit-transition: all .25s ease-in-out;
}

.sidebar_item:hover {
    opacity: 1;
    text-indent: 24px;
    background-color: rgba(0, 0, 0, 0.08);
}

.sidebar_separator {
    height: 16px;
}

.item_selected {
    opacity: 1;
    text-indent: 24px;
}

.item_selected {
    opacity: 1;
}

.button {
    -webkit-app-region: no-drag;
    cursor:pointer;
    align-self: center;
    position: relative;
    left: 0px;
    margin-right: 12px;
    width: 32px;
    height: 32px;
    opacity: 0.5;
    -webkit-transition: all .33s ease-in-out;
}

.button:hover {
    opacity: 0.2;
    -webkit-transform: rotate(-90deg);
}

.button.minimize:hover {
    opacity: 0.2;
    -webkit-transform: rotate(-180deg);
}

.button.back:hover {
    opacity: 1;
    -webkit-transform: rotate(0deg);
    left: -8px;
}

.button.settings {
    background-image: url(images/icon_settings.png);
}
.button.minimize {
    background-image: url(images/icon_minimize.png);
}
.button.close {
    background-image: url(images/icon_close.png);
}
.button.back {
    background-repeat: no-repeat;
    background-position: center;
    width: 64px;
    height: 64px;
    background-image: url(images/icon_back_light.png);
}

.overflow_ux {
    width: calc(100% - 200px);
    height: 100%;
    overflow: hidden;
}

.ux_item {
    width: calc(100%);
    height: 100%;
    overflow: overlay;
}

.moving_ux {
    position: relative;
    display: flex;
    width: calc(200%);
    height: 100%;
    -webkit-transition: left .1s ease-in-out-expo;
}

.deck_tile {
    width: 128px;
    height: 64px;
    margin: 0px 16px 0px 0px;
    opacity: 0.66;
    background-image: url('');
    background-size: 200px;
    background-position: center;
    -webkit-transition: .2s ease-out;
    transition: width opacity;
}

.deck_tile:hover {
    opacity: 1;
    width: 200px;
}

.exportDeck {
    margin: 16px auto !important;
}

.list_deck {
    cursor: pointer;
    justify-content: space-between;
	padding-left: 16px;
	height: 64px;
	display: flex;
    background-color: rgba(255, 255, 255, 0);
	-webkit-transition: background-color .2s ease-in;
}

.list_deck:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.list_match {
    cursor: pointer;
    padding-left: 16px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition: background-color .2s ease-in;
}

.list_match:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.list_match_replay {
    width: -webkit-fill-available;
    margin-right: 16px;
    line-height: 32px;
    vertical-align: middle;
    text-align: right;
    font-family: Mplantin;
    font-size: 16px;
    color: rgba(183, 200, 158, 1);
}

.list_match_title {
    width: -webkit-fill-available;
    margin-right: 16px;
    line-height: 32px;
    vertical-align: middle;
    text-align: right;
    font-family: Mplantin-italic;
    font-size: 16px;
    color: rgba(250, 229, 210, 1);
}

.list_match_time {
    width: -webkit-fill-available;
    margin-right: 16px;
    font-family: Mplantin-italic;
    text-align: right;
    font-size: 16px;
    color: rgba(250, 229, 210, 0.5);
}

.list_match_result_win {
    font-family: Mplantin-italic;
    font-size: 20px;
    line-height: 64px;
    margin-right: 32px;
    color: rgba(183, 200, 158, 1);
}

.list_match_result_loss {
    line-height: 64px;
    font-family: Mplantin-italic;
    font-size: 20px;
    margin-right: 32px;
    color: rgba(221, 130, 99, 1);
}

.list_match_player_left {
    -webkit-user-select: none;
    align-self: center;
    margin-left: 16px;
    font-family: Mplantin-italic;
    color: #FAE5D2;
}

.list_match_player_right {
    -webkit-user-select: none;
    align-self: center;
    margin-right: 16px;
    font-family: Mplantin-italic;
    color: #FAE5D2;
}

.green {
    color: rgba(183, 200, 158, 1) !important;
}

.red {
    color: rgba(221, 130, 99, 1) !important;
}

.white {
    color: #FAE5D2 !important;
}

.about {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about a {
    text-align: center;
    margin: 4px;
    color: rgb(220, 195, 150);
}

.message_center {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.message_big {
    font-size: 32px;
    font-family: Mplantin;
    text-align: center;
    margin-bottom: 6px;
}

.message_sub {
    font-size: 20px;
    opacity: 0.5;
    font-family: Mplantin-italic;
    text-align: center;
    margin-bottom: 6px;
}

.message_sub_16 {
    font-size: 16px;
    opacity: 0.5;
    font-family: Mplantin-italic;
    text-align: center;
    margin-bottom: 6px;
}

.message_sub_15 {
    font-size: 15px;
    opacity: 0.5;
    font-family: Mplantin-italic;
    text-align: center;
    margin-bottom: 6;
}

.message_updates {
    font-size: 18px;
    opacity: 0.5;
    font-family: Mplantin-italic;
    text-align: center;
    margin-top: 6;
    margin-bottom: 6;
}



.opp_rank {
    -webkit-app-region: no-drag;
    align-self: center;
    margin-left: 16px;
    width: 48px;
    height: 48px;
    background: url(images/ranks_spr.png);
    background-position: 48px 0px;
}

.list_fill {
	padding-left: 16px;
	height: 16px;
	display: flex;
	flex-direction: column;
}

.flex_top {
	height: 50%;
	display: flex;
}

.flex_bottom {
	height: 50%;
	display: flex;
}

.flex_item {
	display: flex;
}

.list_deck_name {
    -webkit-user-select:none;
    align-self: center;
    margin-left: 2px;
    color: #FAE5D2;
}

.list_deck_name_it {
    -webkit-user-select:none;
    align-self: center;
    margin-left: 8px;
    margin-right: 16px;
    color: #FAE5D2;
    font-family: Mplantin-italic;
    opacity: 0.5;
}

.list_deck_winrate {
    -webkit-user-select: none;
    margin-left: auto;
    margin-right: 18px;
    line-height: 32px;
    color: #FAE5D2;
}

.list_deck_record {
    -webkit-user-select: none;
    text-align: right;
    margin-right: 16px;
    line-height: 32px;
    color: #FAE5D2;
}


.decklist {
    padding: 16px;
    width: calc(50% - 32px);
}

.stats {
    padding: 32px 0;
    width: calc(50% - 48px);
}

.decklist_top {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    /* opacity: 0.8; */
    width: calc(100% - 48px);
    height: 80px;
    display: flex;
    margin-top: 24px;
    padding: 16px 32px 16px 16px;
    justify-content: space-between;
}

.deck_name {
    align-self: center;
    color: #FAE5D2;
    font-size: 20px;
    text-shadow: 0px 4px 16px rgb(0, 0, 0);
}

.mana_curve {
    display: flex;
    align-items: flex-end;
    height: 128px;
    padding: 16px 0 4px 0;
    border-bottom: 2px solid #917961;
    width: 100%;
}
.mana_curve_column {
    width: 1000px;
    margin: 0px 2px;
    display: flex;
    background-color: #917961;
}

.mana_curve_numbers {
    display: flex;
    align-items: flex-end;
    height: 24px;
    width: 100%;
}


.mana_curve_column_number {
    color: #FAE5D2;
    width: 100%;
    font-family: beleren;
}

.mana_curve_column span {
  align-self: flex-end;
}

.pie_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px auto;
    height: 160px;
}

.pie_container_outer {
    width: 100%;
    display: flex;
    flex-direction: initial;
    align-items: center;
    margin: 16px auto;
    height: 160px;
}

.pie_container span, .wildcards_cost span {
    margin-bottom: 12px;
    font-family: 'Mplantin';
    font-size: 16px;
    color: #FAE5D2;
}

.pie {
  width: 128px; height: 128px;
  border-radius: 50%;
}

.wildcards_cost {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px auto;
    height: 160px;
}

.wc_cost {
    font-family: Mplantin;
    text-indent: 48px;
    color: #FAE5D2;
    width: 64px;
    line-height: 29px;
    height: 24px;
    text-align: right;
    background-position: left;
    background-repeat: no-repeat;
}

.wc_common      { background-image: url('images/wc_common.png'); }
.wc_uncommon    { background-image: url('images/wc_uncommon.png'); }
.wc_rare        { background-image: url('images/wc_rare.png'); }
.wc_mythic      { background-image: url('images/wc_mythic.png'); }


.mana_20 {
    width: 20px;
    height: 20px;
    margin: 2px;
}

.mana_16 {
    z-index: 15;
    pointer-events: none;
    width: 20px;
    height: 20px;
    margin: 2px -1px 2px -1px;
}

.mana_white     { background: url(images/w20.png) center;}
.mana_blue      { background: url(images/u20.png) center;}
.mana_black     { background: url(images/b20.png) center;}
.mana_red       { background: url(images/r20.png) center;}
.mana_green     { background: url(images/g20.png) center;}
.mana_colorless { background: url(images/c20.png) center;}

.mana_16.mana_white    { background: url(16sh/w.png) center;}
.mana_16.mana_blue     { background: url(16sh/u.png) center;}
.mana_16.mana_black    { background: url(16sh/b.png) center;}
.mana_16.mana_red      { background: url(16sh/r.png) center;}
.mana_16.mana_green    { background: url(16sh/g.png) center;}
.mana_16.mana_colorless{ background: url(16sh/c.png) center;}
.mana_16.mana_x        { background: url(16sh/x.png) center;}
.mana_16.mana_g0       { background: url(16sh/0.png) center;}
.mana_16.mana_g1       { background: url(16sh/1.png) center;}
.mana_16.mana_g2       { background: url(16sh/2.png) center;}
.mana_16.mana_g3       { background: url(16sh/3.png) center;}
.mana_16.mana_g4       { background: url(16sh/4.png) center;}
.mana_16.mana_g5       { background: url(16sh/5.png) center;}
.mana_16.mana_g6       { background: url(16sh/6.png) center;}
.mana_16.mana_g7       { background: url(16sh/7.png) center;}
.mana_16.mana_g8       { background: url(16sh/8.png) center;}
.mana_16.mana_g9       { background: url(16sh/9.png) center;}
.mana_16.mana_g10      { background: url(16sh/10.png) center;}
.mana_16.mana_g11      { background: url(16sh/11.png) center;}
.mana_16.mana_g12      { background: url(16sh/12.png) center;}
.mana_16.mana_g13      { background: url(16sh/13.png) center;}
.mana_16.mana_g14      { background: url(16sh/14.png) center;}
.mana_16.mana_g15      { background: url(16sh/15.png) center;}
.mana_16.mana_g16      { background: url(16sh/16.png) center;}
.mana_16.mana_g17      { background: url(16sh/17.png) center;}
.mana_16.mana_g18      { background: url(16sh/18.png) center;}
.mana_16.mana_g19      { background: url(16sh/19.png) center;}
.mana_16.mana_g20      { background: url(16sh/20.png) center;}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #33281E;
    border-radius: 10px;
    margin-top: 8px;
}

::-webkit-scrollbar-thumb {
    background: #917961;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #B59579; 
}

.overlay_decklist {
    /*padding-right: 12px;*/
    height: calc(100% - 210px);
    overflow: overlay;
}

.overlay_deckname {
    -webkit-app-region:drag;
    padding: 12px 0 0 0;
    text-align: center;
    color: #FAE5D2;
}

.overlay_deckcolors {
    -webkit-app-region:drag;
    height: 24px;
    display: flex;
    justify-content: center;
    margin-top: 4px;
}

.overlay_separator {
    padding: 4px;
    height: 16px;
    background: url(images/separator_spr.png) center no-repeat;
}

.overlay_hover {
    pointer-events: none;
    width: 90%;
    max-width: 300px;
    opacity: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 4.75% / 3.5%;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.5);
    -webkit-transition: opacity .2s ease-in;
}

.overlay_hover_container {
    pointer-events: none;
    position: absolute;
    bottom: 0;
    float: right;
    width: 100%;
    z-index: 50;
}

.overlay_clock_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    float: center;
    width: 100%;
    height: 64px;
    z-index: 40;
    background-color: rgba(0,0,0,0.5);
}

.overlay_draft_container {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    bottom: 0;
    float: center;
    width: 100%;
    height: 64px;
    top: 64px;
    z-index: 40;
}

.overlay_deck_container {
    position: absolute;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    float: center;
    width: 100%;
    height: 64px;
    top: 64px;
    z-index: 40;
}

.chance_title {
    font-size: 15px;
    height: 20px;
    line-height: 20px;
    margin: 0px auto;
    text-align: center;
    color: rgba(255, 255, 255, 0.85);
}

.clock_elapsed {
    height: 48px;
    width: 100%;
    text-align: center;
    line-height: 48px;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.8);
    z-index: 50;
}

.clock_turn {
    height: 16px;
    position: relative;
    top: 5px;
    width: 100%;
    text-align: center;
    line-height: 16px;
    font-size: 15px;
    color: #d4c6af;
    z-index: 50;
}

.clock_prev, .draft_prev, .deck_prev {
    -webkit-app-region:no-drag;
    position: absolute;
    cursor: pointer;
    background: url(images/prev.png) no-repeat center;
    z-index: 51;
    display: block;
    opacity: 0.5;
    align-self: flex-start;
    width: 32px;
    height: 64px;
    -webkit-transition: all .2s ease-in;
}

.clock_next, .draft_next, .deck_next {
    -webkit-app-region:no-drag;
    cursor: pointer;
    position: absolute;
    background: url(images/next.png) no-repeat center;
    z-index: 51;
    opacity: 0.5;
    align-self: flex-end;
    display: block;
    width: 32px;
    height: 64px;
    -webkit-transition: all .2s ease-in;
}

.clock_prev:hover, .clock_next:hover, .draft_prev:hover, .draft_next:hover, .deck_prev:hover, .deck_next:hover {
    opacity: 1;
}


.main_hover_container {
    pointer-events: none;
    position: absolute;
    bottom: 0;
    float: right;
    width: 100%;
    z-index: 50;
}

.main_hover {
    pointer-events: none;
    width: 90%;
    max-width: 240px;
    opacity: 0;
    display: block;
    margin-left: auto;
    margin-right: 24px;
    margin-bottom: 24px;
    -webkit-border-radius: 4.75% / 3.5%;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.5);
    -webkit-transition: all .2s ease-in;
}

.loader {
    pointer-events: none;
    width: 90%;
    max-width: 240px;
    opacity: 0;
    display: block;
    margin-left: auto;
    margin-right: 24px;
    margin-bottom: 24px;
    -webkit-border-radius: 4.75% / 3.5%;
    -webkit-transition: all .2s ease-in;
}

.card_tile {
    width: 100%;
    min-width: calc(100% - 72px);
    height: 24px;
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
    margin-bottom: 3px;
    border-style: solid;
    border-width: 0px 8px;
    -webkit-transition: all .15s ease-in;
    cursor: pointer;
}

.card_tile_glow {
    width: 100%;
    left: calc(0px - 100% + 56px);
    min-width: calc(100% - 72px);
    height: 24px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-style: solid;
    border-width: 0px 8px;
    position: relative;
    opacity: 0;
    -webkit-border-image: url(images/over.png) 0 15 0 15 stretch;
    -webkit-transition: opacity .12s ease-in-out, margin-top .12s ease-in-out, border-image .2s ease-out;
    z-index: 10;
    cursor: pointer;
}

.card_tile_glow:hover {
    opacity: 1;
    margin-top: 0px;
    -webkit-border-image: url(images/flash.png) 0 15 0 15 stretch;
}

span {
    align-self: center;
}

.card_tile_quantity {
    text-indent: -3px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 12px;
    height: 24px;
    min-width: 24px;
    width: 24px;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
    font-family: Mplantin;
    background: url(images/quantity.png);
    background-size: cover;
}

.card_tile_odds {
    text-indent: -3px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 10px;
    height: 24px;
    min-width: 32px;
    width: 32px;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
    font-family: Mplantin;
    background: url(images/odds.png);
    background-size: cover;
}

.card_tile_not_owned {
    min-width: 24px;
    left: calc(0px - 100% + 42px);
    position: relative;
    background: url(images/not_owned.png) center no-repeat;
}

.card_tile_container {
    display: flex;
}

.card_tile_separator {
    color: rgba(255, 255, 255, 0.8);
    height: 32px;
    vertical-align: middle;
    line-height: 32px;k,
    font-size: 15px;
    text-align: center;
    font-family: beleren;
    align-self: center;
}

.card_tile_name {
    padding-left: 2px;
    overflow: hidden;
    height: 16px;
    font-size: 14px;
    font-family: "belerenbold";
    align-self: center;
    justify-content: flex-start;
    z-index: 15;
    pointer-events: none;
}

.inventory {
    padding-left: 8px;
    padding-right: 8px;
    width: calc(100% - 16px);
    height: calc(100% - 170px);
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.inventory_filters {
    width: 100%;
    height: 170px;
    background-color: rgba(0, 0, 0, 0.2);
}

.inventory_card {
    width: 140px;
    display: inline-block;
    margin: 6px;
}

.inventory_card_settings {
    width: 140px;
    margin: -40px 16px;
    align-self: center;
    position: relative;
}

.inventory_card_settings_img {
    -webkit-border-radius: 4.75% / 3.5%;
}


.inventory_card_img {
    cursor: pointer;
    -webkit-border-radius: 4.75% / 3.5%;
}

.inventory_card_img:hover {
    border: 2px solid rgba(250, 229, 210, 0.66);
    margin: -2px 0 -2px -2px;
}

.inventory_card_quantity_blue {
    width: 35px;
    height: 24px;
    display: inline-block;
    background: center no-repeat url('images/quantity_blue.png');
}

.inventory_card_quantity_green {
    width: 35px;
    height: 24px;
    display: inline-block;
    background: center no-repeat url('images/quantity_green.png');
}

.inventory_card_quantity_gray {
    width: 35px;
    height: 24px;
    display: inline-block;
    background: center no-repeat url('images/quantity_gray.png');
}

.paging_container {
    margin: 16px 24px 0 24px;
    display: flex;
    width: 100%;
    height: 24px;
    justify-content: center;
}

.paging_button {
    cursor: pointer;
    margin: 0 4px;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border-radius: 4px;
    color: #33281e;
    background-color: #b59579;
    -webkit-transition: all .2s ease-in;
}

.paging_button_disabled {
    margin: 0 4px;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border-radius: 4px;
    color: #33281e;
    background-color: rgba(181, 149, 121, 0.66);
}

.paging_button:hover {
    background-color: #d4c6af;
}

.paging_active {
    background-color: #d4c6af !important;
}


.main_stats {
    margin: 16px;
    width: 50%;
    display: block;
    text-align: center;
}

.stats_set_completion {
    max-width: 320px;
    margin: 0 auto;
    height: 40px;
    display: flex;
    flex-direction: column;
}

.stats_set_icon {
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 6px;
    background-size: contain;
    opacity: 0.7;
    -webkit-transition: all .2s ease-in;
}

.stats_set_icon:hover {
    opacity: 1;
}


.stats_set_icon span {
    cursor: pointer;
    display: flex;
    line-height: 24px;
    width: 500px;
    font-size: 15px;
    position: relative;
    margin-left: 36px;
    color: #fae5d2;
    opacity: 0.8;
    -webkit-transition: all .2s ease-in;
}
.stats_set_icon span:hover {
    margin-left: 42px;
    opacity: 1;
}

.stats_rarity_icon {
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 6px;
    background-size: contain;
}

.stats_rarity_icon span {
    cursor: pointer;
    line-height: 24px;
    display: flex;
    font-size: 15px;
    position: relative;
    margin-left: 36px;
    color: #fae5d2;
}

.stats_set_bar {
    position: relative;
    background-color: rgba(183, 200, 158, 1);
    height: 2px;
}

.stats_set_bar:after {
    content: '';
    left: 0;
    width: 320px;
    background-color: rgb(99, 79, 53);
    height: 2px;
    position: absolute;
    z-index: -1;
}

.sets_container {
    padding-top: 12px;
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    width: calc(100% - 32px);
}

.buttons_container {
    padding-top: 8px;
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    justify-content: space-around;
    width: calc(100% - 32px);
}

.set_filter {
    opacity: 1;
    background-repeat: no-repeat;
    width: 26px;
    margin: 0 auto;
    height: 26px;
    cursor: pointer;
    background-size: contain;
    -webkit-transition: all .3s ease-in-out;
}

.set_filter:hover {
    opacity: 0.9;
}

.set_filter_on {
    opacity: 0.3;
}


.mana_filter {
    opacity: 1;
    background-repeat: no-repeat;
    width: 20px;
    margin: 0 auto;
    height: 20px;
    cursor: pointer;
    background-size: contain;
    -webkit-transition: all .3s ease-in-out;
}

.mana_filter:hover {
    opacity: 0.9;
}

.mana_filter_on {
    opacity: 0.3;
}

.input_container {
    display: inline-block;
    height: 24px;
    margin-top: 12px;
    margin-left: 16px;
}

.input_container input {
    margin-left: 16px;
    border-radius: 5px;
    border-style: hidden;
    height: 24px;
    width: 320px;
    font-size: 14px;
    user-select: none;
    font-family: Mplantin;
    padding-left: 4px;
}

.input_container input:focus {
    outline-style: none;
}

.settings_page {
    margin: 32px 16px 32px 16px;
}

.settings_title {
    font-family: "Mplantin";
    font-size: 20px;
    border-bottom: solid rgba(250, 229, 210, 0.28) 2px;
    color: #fae5d2;
    margin: 24px 64px 14px 12px;
    padding-bottom: 2px;
}

.check_container {
    margin-top: 12px;
    margin-left: 16px;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
}

.check_container_but {
    margin-top: 20px;
    margin-left: 16px;
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
}

/* Hide the browser's default checkbox */
.check_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: -1px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.check_container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check_container input:checked ~ .checkmark {
    background-color: rgba(145, 115, 75, 1);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.check_container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.check_container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.flex_end {
    justify-content: flex-end;
}

.tile_w {     -webkit-border-image: url(images/w.png) 0 15 0 15 stretch;}
.tile_u {     -webkit-border-image: url(images/u.png) 0 15 0 15 stretch;}
.tile_b {     -webkit-border-image: url(images/b.png) 0 15 0 15 stretch;}
.tile_r {     -webkit-border-image: url(images/r.png) 0 15 0 15 stretch;}
.tile_g {     -webkit-border-image: url(images/g.png) 0 15 0 15 stretch;}
.tile_c {     -webkit-border-image: url(images/c.png) 0 15 0 15 stretch;}
.tile_multi { -webkit-border-image: url(images/multi.png) 0 15 0 15 stretch;}

.tile_wr { -webkit-border-image: url(images/wr.png) 0 15 0 15 stretch;}
.tile_wb { -webkit-border-image: url(images/wb.png) 0 15 0 15 stretch;}
.tile_uw { -webkit-border-image: url(images/uw.png) 0 15 0 15 stretch;}
.tile_ur { -webkit-border-image: url(images/ur.png) 0 15 0 15 stretch;}
.tile_ug { -webkit-border-image: url(images/ug.png) 0 15 0 15 stretch;}
.tile_ub { -webkit-border-image: url(images/ub.png) 0 15 0 15 stretch;}
.tile_rg { -webkit-border-image: url(images/rg.png) 0 15 0 15 stretch;}
.tile_gw { -webkit-border-image: url(images/gw.png) 0 15 0 15 stretch;}
.tile_br { -webkit-border-image: url(images/br.png) 0 15 0 15 stretch;}
.tile_bg { -webkit-border-image: url(images/bg.png) 0 15 0 15 stretch;}

.draft_title {
    margin: 16px auto;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
    font-family: Mplantin-italic;
    font-size: 20px;
    color: rgba(250, 229, 210, 1);
}

.draft_pack_container {
    padding-top: 16px;
    padding-left: 48px;
    padding-right: 48px;
    width: calc(100% - 96px);
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.draft_card {
    width: 120px;
    display: inline-block;
    margin: 4px;
}

.draft_card_img {
    width: 120px;
    cursor: pointer;
    -webkit-border-radius: 7% / 6%;
}

.draft_card_img:hover {
    border: 2px solid rgba(250, 229, 210, 0.66);
    margin: -2px 0 -2px -2px;
}

.draft_card_picked {
    border: 4px solid rgba(220, 20, 20, 0.66);
    margin: -4px 0 -4px -4px;
}

.slidecontainer_settings {
    overflow: unset;
    display: flex;
    margin: 10px 48px 10px 50px;
}

.slidecontainer {
    overflow: unset;
    width: calc(100% - 128px);
    margin: 0 64px;
}

.slider {
    overflow: unset;
    -webkit-appearance: none;
    appearance: none;
    width: 100%; 
    border-radius: 16px;
    height: 12px;
    background: rgba(255, 255, 255, 0.6);
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: background .2s;
}

.slider:hover {
    background: rgba(255, 255, 255, 0.8);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background: rgba(183, 200, 158, 1);
    cursor: pointer; 
}

.draft_nav_container {
    overflow: hidden;
    pointer-events: none;
    margin: 0 16px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    width: calc(50% - 32px);
    height: 100%;
    top: 64px;
    z-index: 40;
}

.draft_nav_prev {
    pointer-events: all;
    cursor: pointer;
    background: url(images/prev.png) no-repeat center;
    z-index: 51;
    opacity: 0.5;
    width: 32px;
    height: 100%;
    -webkit-transition: all .2s ease-in;
}

.draft_nav_next {
    pointer-events: all;
    cursor: pointer;
    background: url(images/next.png) no-repeat center;
    z-index: 51;
    opacity: 0.5;
    width: 32px;
    height: 100%;
    -webkit-transition: all .2s ease-in;
}


.draft_nav_prev:hover, .draft_nav_next:hover {
    opacity: 1;
}

.economy {
    margin: 48px auto;
    max-width: 480px;
    height: calc(100% - 96px);
}

.chart_container {
    margin-top: 48px;
}

#goldChart {
}
#vaultChart {
}